html {
    background-image: url(https://image.freepik.com/free-vector/bokeh-background_23-2148457138.jpg);
}
	.login_div1 , .login_div2
	{
	    padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
    background-color: whitex;
border-radius: 10px;
border-top: 10px solid #b7d5f7;
padding: 10px;
float: none;
text-align: left;
}
